body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

header label {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

header input[type="range"] {
  flex: 1;
  min-width: 200px;
}

header .time-display-container {
  display: flex;
  align-items: center;
  min-width: 100px;
  flex-basis: 100%;
  margin-top: 0.25em;
}

header time,
header em {
  display: block;
  line-height: 1.2;
}

header em {
  color: #666;
  font-style: italic;
}
